@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Used in register and login */
  .card {
    @apply background-and-border mx-auto mt-10 rounded-lg bg-gray-200 p-10 shadow-lg transition-colors dark:bg-zinc-900;
  }
  pre,
  p,
  h1,
  a,
  label {
    @apply text-black dark:text-gray-200;
  }

  label {
    @apply my-auto;
  }
  del {
    @apply line-through decoration-black dark:decoration-gray-200;
  }

  /* Common colors */
  .background-color {
    @apply bg-gray-200 transition-colors dark:bg-zinc-800;
  }
  .hover-color {
    @apply bg-gray-200 transition-colors dark:bg-zinc-700;
  }
  .active-color {
    @apply bg-gray-500 transition-colors dark:bg-zinc-600;
  }
  .nx-border-color {
    @apply border-gray-500 transition-colors dark:border-zinc-500;
  }

  /* Buttons and inputs */
  .textbox {
    @apply nx-border-color mx-0.5 h-8 w-full rounded-md border bg-gray-300 p-1 shadow-sm transition-colors dark:bg-gray-100 dark:text-black md:mx-1 md:h-10 disabled:bg-gray-400 disabled:text-gray-600 dark:disabled:bg-gray-300 dark:disabled:text-gray-500;
  }
  .search {
    @apply textbox h-8 md:h-10;
  }
  .search-button {
    @apply mx-0.5 h-8 shrink-0 cursor-pointer rounded-md bg-green-500 px-4 text-black transition-colors hover:bg-green-600 active:bg-green-700 dark:text-white md:mx-1 md:h-10 md:px-10;
  }
  .submit {
    @apply my-1 cursor-pointer rounded-lg bg-green-500 px-5 py-2 text-white shadow-lg transition-colors hover:bg-green-600 active:bg-green-700;
  }
  .button-icon {
    @apply mx-0.5 my-auto h-8 w-8 shrink-0 rounded-md bg-gray-400 p-2 shadow-lg transition-colors first:ml-0 last:mr-0 only:mr-0 dark:bg-zinc-600 dark:text-gray-200 md:mx-1 md:h-10 md:w-10;
  }
  .button-icon-hover {
    @apply cursor-pointer bg-green-400;
  }
  .button-icon-active {
    @apply cursor-pointer bg-green-500;
  }


  .toggle-button {
    @apply mx-0.5 my-auto h-8 w-8 shrink-0 rounded-md p-2 shadow-lg transition-colors first:ml-0 last:mr-0 only:mr-0 dark:text-gray-200 md:mx-1 md:h-10 md:w-10;
  }

  .toggle-button-inactive {
    @apply bg-gray-400 dark:bg-zinc-600
  }

  .toggle-button-hover {
    @apply cursor-pointer bg-green-400;
  }

  .toggle-button-hover-red {
    @apply cursor-pointer bg-red-400;
  }

  .toggle-button-active {
    @apply cursor-pointer bg-green-500;
  }

  .toggle-button-active-red {
    @apply cursor-pointer bg-red-500;
  }


  /* Header styles */
  .header-button-colors {
    @apply hover:hover-color active:active-color text-black transition-colors dark:text-white;
  }
  .header-color {
    @apply bg-gray-300 transition-colors dark:bg-zinc-900;
  }
  .user-icon {
    @apply background-color hover:button-icon-hover active:button-icon-active my-auto mx-1 h-8 w-8 shrink-0 rounded-full bg-gray-400 p-2 dark:text-gray-200;
  }

  /* Used for lists and backgrounds for some views */
  .background-and-border {
    @apply nx-border-color header-color rounded-md border-2 shadow-md transition;
  }
  .background-and-border > p {
    @apply my-auto;
  }
  .bab-hover {
    @apply hover-color rounded-bl-none transition  md:delay-300;
  }
  .bab-drop {
    @apply nx-border-color pointer-events-none h-0 bg-gray-300 opacity-0 dark:bg-zinc-900;
  }
  .bab-drop-hover {
    @apply nx-border-color hover-color pointer-events-auto absolute z-10 -mt-0.5 block h-auto rounded-b-md border-x-2 border-b-2 p-2 opacity-100 shadow-md transition md:delay-300;
  }

  /* Detail page styles */
  .detail-table {
    @apply grid grid-cols-2 md:grid-cols-4;
  }
  .detail-title {
    @apply col-span-2 mb-4 inline-block text-4xl md:col-span-4;
  }
  .detail-label {
    @apply my-2 font-bold;
  }
  .detail-data {
    @apply my-2;
  }
  .detail-row {
    @apply col-span-2 grid grid-cols-2;
  }
  .detail-row > p {
    @apply odd:detail-label even:detail-data;
  }
  .detail-image-container {
    @apply col-span-2 my-2 h-full w-full p-2 md:col-start-3 md:col-end-5 md:row-start-2 md:row-end-[20] md:m-0 md:p-0;
  }
  .detail-image-container > img {
    @apply shadow-md;
  }

  /* Mobile specific styles */
  .mobile-nav-button {
    @apply nx-border-color header-color hover:hover-color -mt-2 border-4 p-4 px-10 text-center leading-10 text-black shadow-xl transition-colors;
  }
  .hideViewOnMobile {
    @apply hidden before:mr-0 md:block;
  }
  .noMarginOnMobile {
    @apply mr-0 md:mr-1;
  }

  #link {
    @apply underline text-green-400 hover:text-green-500 active:text-green-600
  }
}

/* Apply fonts and colors */
*, pre {
  font-family: 'Inter', sans-serif;
  /* @apply text-black dark:text-gray-200; */
}

/* Change selection color */
::selection {
  @apply bg-green-400 text-white dark:text-black;
}

h1 {
  @apply drop-shadow-md;
}
h1,
p,
a,
RouterLink {
  @apply drop-shadow-md;
}
/* In case I forget */
select {
  @apply textbox;
}

/* Gets rid of overscrolling animation on mobile */
html {
  overflow: hidden;
  height: 100%;
}

/* Gets rid of overscrolling animation on mobile */
body {
  overflow: scroll;
  height: 100%;
  overscroll-behavior-y: none;
}

.loader {
  border: 8px solid rgb(209 213 219); /* Light grey */
  border-top: 8px solid rgb(34 197 94); /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 0.75s;
  animation-name: animatebottom;
  animation-duration: 0.75s;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -50px;
  }
  to {
    bottom: 0px;
  }
}

@keyframes animatebottom {
  from {
    bottom: -50px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
