@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Used in register and login */
  .card {
    @apply transition-colors bg-gray-200 background-and-border mx-auto mt-10 rounded-lg p-10 shadow-lg dark:bg-zinc-900;
  }
  .background-color {
    @apply transition-colors bg-gray-200 dark:bg-zinc-800;
  }
  .hover-color {
    @apply transition-colors bg-gray-200 dark:bg-zinc-700;
  }
  .active-color {
    @apply transition-colors bg-gray-500 dark:bg-zinc-600;
  }
  .nx-border-color {
    @apply transition-colors border-gray-500 dark:border-zinc-500;
  }
  /* Used in register and login */
  .textbox {
    @apply transition-colors m-1 w-[calc(100%-.5rem)] rounded-lg bg-gray-300 p-1 shadow-sm dark:bg-gray-100 dark:text-black;
  }
  .header-button-colors {
    @apply transition-colors hover:hover-color active:active-color;
  }
  .header-color {
    @apply transition-colors bg-gray-300 dark:bg-zinc-900;
  }
  /* Used in register and login */
  .submit {
    @apply mt-2 rounded-lg bg-green-500 px-5 py-2 text-white shadow-lg transition hover:bg-green-600 active:bg-green-700;
  }
  .background-and-border {
    @apply bg-gray-300 nx-border-color rounded-md border-2 shadow-md dark:bg-zinc-900;
  }
  .bab-hover {
    @apply transition md:delay-300 hover-color rounded-bl-none;
  }
  .bab-drop {
    @apply h-0 bg-gray-300 nx-border-color opacity-0
  }
  .bab-drop-hover {
    @apply opacity-100 transition md:delay-300 nx-border-color hover-color absolute z-10 -mt-0.5 block h-auto rounded-b-md border-x-2 border-b-2 p-2 shadow-md;
  }
  .button-icon {
    @apply m-1 h-8 w-8 rounded-md bg-gray-400 dark:bg-gray-500 p-2 shadow-lg transition hover:bg-green-400 active:bg-green-500 md:h-10 md:w-10 dark:filter
  }
  .detail-table {
    @apply grid md:grid-cols-4 grid-cols-2
  }
  .detail-title {
    @apply md:col-span-4 col-span-2 mb-4 inline-block text-4xl
  }
  .detail-label {
    @apply my-2 font-bold

  }
  .detail-data {
    @apply md:col-span-3 my-2
  }
  .detail-row {
    @apply md:col-span-4 grid md:grid-cols-4 grid-cols-2 col-span-2
  }
  .detail-row > p {
    @apply odd:detail-label even:detail-data
  }
  .mobile-nav-button {
    @apply transition bg-green-400 p-4 pl-10 leading-10 hover:bg-green-500 active:bg-green-600 shadow-xl dark:text-black
  }
}
@media (prefers-color-scheme: dark) {
  .button-icon {
    filter: invert(100%) sepia(1%) saturate(2533%) hue-rotate(177deg) brightness(93%) contrast(107%);
    background-color: #EAEAEA;
  }
  .button-icon:hover {
    background-color: #CACACA;
  }
}

* {
  font-family: "Inter", sans-serif;
  @apply text-black dark:text-gray-100;
}
::selection {
  @apply bg-green-400 text-white dark:text-black;
}
input,
select {
  @apply textbox;
}

html {
  overflow: hidden;
  height: 100%;
}

body {
  overflow: scroll;
  height: 100%;
  overscroll-behavior-y: none;
}
